spec:
    inputs:
        node-image:
            default: 'node:24'
        prepare-stage:
            default: 'prepare'
        check-stage:
            default: 'check'
        deploy-stage:
            default: 'deploy'
---
stages:
    - $[[ inputs.prepare-stage ]]
    - $[[ inputs.check-stage ]]
    - $[[ inputs.deploy-stage ]]

prepare:
    image: $[[ inputs.node-image ]]
    stage: $[[ inputs.prepare-stage ]]
    script:
        - yarn install --immutable
    artifacts:
        expire_in: 30 mins
        paths:
            - node_modules
            - example/node_modules
    only:
        - merge_requests
        - tags
        - main

check:
    image: $[[ inputs.node-image ]]
    stage: $[[ inputs.check-stage ]]
    script:
        - yarn typecheck
        - yarn lint
    artifacts:
        expire_in: 30 mins
        paths:
            - node_modules
            - example/node_modules
    when: on_success
    only:
        - merge_requests
        - tags
        - main

.publish-template:
    stage: $[[ inputs.deploy-stage ]]
    image: $[[ inputs.node-image ]]
    only:
        - tags
    before_script:
        - yarn prepare

publish:
    extends: .publish-template
    parallel:
        matrix:
            - REGISTRY: gitlab
            - REGISTRY: npm
    script:
        - |
            if [ "$REGISTRY" = "gitlab" ]; then
                echo "@one-am:registry=https://${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/" > .npmrc
                echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
                npm publish
            else
                echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
                echo "@one-am:registry=https://registry.npmjs.org/" >> .npmrc
                npm publish --access public
            fi
